.data-table {
	width: 100%;
	padding: 10px;
	overflow-y: scroll;
	height: 100%;

	table {
		border-collapse: collapse;
		background: #fff;
		border-radius: 10px;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: left;

		* {
			position: relative;
		}

		.column2,
		.column3 {
			width: 38%;
		}

		thead {
			tr {
				height: 60px;
				background: #36304a;

				th {
					font-size: 18px;
					color: #fff;
					line-height: 1.2;

					&:first-child {
						padding-left: 20px;
					}

					&:last-child {
						padding-right: 20px;
					}

				}
			}
		}

		tbody {
			tr {
				height: 50px;
				transition: .1s;

				&:nth-child(even) {
					background-color: #f5f5f5;
				}

				&:hover {
					background-color: #e5e5e5;
				}

				td {
					&:first-child {
						padding-left: 20px;
					}

					&:last-child {
						padding-right: 20px;
					}
				}
			}
		}
	}
}